





  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <style>
    
  </style>
  </head>
  <body>


    <div class="login-box">
      <h2>Register</h2>
      
        <div class="user-box">
          <input
          [(ngModel)]="username"
          name="email"
          class="form-control"
          id="email"
          type="text"  

        />
          <label>Username</label>
        </div>
        <div class="user-box">
          <input
          [(ngModel)]="password"
          name="password"
          class="form-control"
          id="password"
          type="text"
        />
          <label>Password</label>
        </div>
        <form >
        <a (click)="save()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Register
        </a>
      </form>
    </div>











<!-- 
  <div class="signup-form">


    <h2 class="register-header">Register</h2>
      
    <form (ngSubmit)="save(); userForm.reset()" id="new-user"  #userForm>
      <div class="form-group">
        <label> Your Email</label>
        <input
          [(ngModel)]="userToSave.email"
          name="email"
          class="form-control"
          id="email"
          type="text"  

        />
      
      </div>
  
      <div class="form-group">
        <label> Select Password</label>
        <input
          [(ngModel)]="userToSave.password"
          name="password"
          class="form-control"
          id="password"
          type="text"
        />
      </div>

  
      <div class="form-group">
        <input class="btn btn-primary submit-button" type="submit" value="Register" />
      </div>
    </form>

  </div> -->







    

    <!-- <button (click)="updateUsersTable()">update userplans</button> -->

    <!-- <div class="text-center">Already have an account? <a href="#">Sign in</a></div> -->
 


    
  </body>
  </html>