



<div class="snip1214">

    <h2 class="prices-h">Our Prices</h2>
    
    <div class="plan">
      <h3 class="plan-title"> 
        Single Plan
      </h3>
      <div class="plan-cost"><span class="plan-price">$30</span><span class="plan-type">/ Monthly</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>5GB Linux Web Space</li>
        <li><i class="ion-checkmark"> </i>5 MySQL Databases</li>
        <li><i class="ion-checkmark"> </i>Unlimited Email</li>
        <li><i class="ion-checkmark"> </i>250Gb Monthly Transfer</li>
        <li><i class="ion-checkmark"> </i>24/7 Tech Support</li>
        <li><i class="ion-checkmark"> </i>Daily Backups</li>
      </ul>
      <!-- <div class="plan-select"  ><a href="">Select Plan A</a></div> -->
      <div class="plan-select"><button (click)="clickEventA()"  class="btn btn-secondary">SELECT PLAN 1</button></div>
    </div>
    <div class="plan">
      <h3 class="plan-title">
        Double Plan
      </h3>
      <div class="plan-cost"><span class="plan-price">$50</span><span class="plan-type">/ Monthly</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>10GB Linux Web Space</li>
        <li><i class="ion-checkmark"> </i>10 MySQL Databases</li>
        <li><i class="ion-checkmark"> </i>Unlimited Email</li>
        <li><i class="ion-checkmark"> </i>500Gb Monthly Transfer</li>
        <li><i class="ion-checkmark"> </i>24/7 Tech Support</li>
        <li><i class="ion-checkmark"> </i>Daily Backups</li>
      </ul>
      <!-- <div class="plan-select"><a href="">Select Plan B</a></div> -->
      <div class="plan-select"><button (click)="clickEventB()"  class="btn btn-secondary">SELECT PLAN 2</button></div>
    </div>
    <div class="plan featured">
      <h3 class="plan-title">
        Unlimited
      </h3>
      <div class="plan-cost"><span class="plan-price">$140</span><span class="plan-type">/ Monthly</span></div>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>25GB Linux Web Space</li>
        <li><i class="ion-checkmark"> </i>25 MySQL Databases</li>
        <li><i class="ion-checkmark"> </i>Unlimited Email</li>
        <li><i class="ion-checkmark"> </i>2000Gb Monthly Transfer</li>
        <li><i class="ion-checkmark"> </i>24/7 Tech Support</li>
        <li><i class="ion-checkmark"> </i>Daily Backups</li>
      </ul>
      <!-- <div class="plan-select"><a href="">Select Plan C</a></div> -->
      <div class="plan-select"><button (click)="clickEventC()"  class="btn btn-secondary">SELECT PLAN 3</button></div>
      
    </div>

   
    
  </div>

  <div class="additional-btns">
    <button (click)="clickPopulateUserplansTable()"  class="btn btn-secondary">Add new plan (populate userplans table)</button>
    <button (click)="getUserplansId()"  class="btn btn-secondary">find id (get userplansId)</button>

  </div>

<!-- ?????????????? CHECK -->
  <app-new-device [someName]="userData.email" [planChosen]="planChosen" [userData]="userData" [userplansId]="userplansId"></app-new-device>

  