











<section id="new-dev-section" >

<div class="col-lg-6" id="addDv">
    <h2>Add device for: {{userData.email}}</h2>
    <div> YOU CHOSE PLAN:  <strong>  {{planChosen}}   </strong>   </div> 

    <form (ngSubmit)="save(); deviceForm.reset()" id="new-device"  #deviceForm>

      
  
      <div class="form-group">
        <label> Device</label>
        <input
          [(ngModel)]="phoneInfoToSave.phoneName"
          name="phoneName"
          class="form-control"
          id="phoneName"
          type="text"
        />
      </div>
  
      <div class="form-group">
        <label> Phone Number</label>
        <input
          [(ngModel)]="phoneInfoToSave.phoneNumber"
          name="phoneNumber"
          class="form-control"
          id="phoneNumber"
          type="text"
        />
      </div>

     


      <div class="form-group">
        <input class="btn btn-primary submit-button" type="submit" value="Add" />
      </div>
    </form>

              
  </div>
  
  

  

  </section>





  

  <!-- <app-my-bill [someName]="someName" [userData]="userData"></app-my-bill> -->