                <!-- <td>{{ userList.plan }}</td> -->


<div style="text-align:center">
    <h1>
       Login to your page
    </h1>
    <button  (click)="clickEvent()" >
    Login</button>
    <input type="text"  [(ngModel)]="msg">

 </div>


<!-- display table only if userList is resolved (is not empty) -->
<section id="user-data" *ngIf="userList">

    <div id="user-list" >

        <h2>HOME</h2>
   
        <!-- <h2>User's {{userList.name}} info</h2> -->
    
        <h3 > Devices for {{userList[0].name}} </h3>
        <h5>*You have {{numberOfDevices}} devices</h5>
        <div> </div>


        <table id="user-table" class="table">
            <tr>
                <!-- <th>User Name</th> -->
                <th>Device</th>
                <th>Phone Number</th>
                <th>Plan</th>
            </tr>

            
            <tr *ngFor="let user of userList">
                <!-- <td>{{ user.name }}</td> -->
                <td>{{ user.device }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.plan }}</td>            
                <!-- pass clicked row the method -->
                <td><button (click)="clickRemove(user)">Remove</button></td>
                
            </tr>
        </table>
    </div>


    <div> ------------------------------------------------ </div>

   

    <div id="adding-new-dev" >
        <h4>{{userList[0].name}}, do you want to add a new device?</h4>
    </div>


    <!-- Call child component and pass name of user -->
    <app-new-device [someName]="userList[0].name"></app-new-device>
    

</section>


