

<div style="text-align:center">
    <h1>
       Find by user name
    </h1>
    <button  (click)="clickEvent()" >
    Find user's data</button>
    <input type="text"  [(ngModel)]="msg">

 </div>


<!-- display table only if userList is resolved (is not empty) -->
<div id="user-list" *ngIf="userList">
   
    <h2>View By User Name</h2>

    <table id="user-table" class="table">
        <tr>
            <th>User Name</th>
            <th>Device</th>
            <th>Phone Number</th>
            <th>Plan</th>
        </tr>
        <!-- {{userList}} -->
        <tr>
            <td>{{ userList.name }}</td>
            <td>{{ userList.device }}</td>
            <td>{{ userList.phoneNumber }}</td>
            <td>{{ userList.plan }}</td>
            
        </tr>
    </table>
</div>

