
<div id="user-list">
    <h2>View All Users</h2>
    <button class="btn btn-primary btn-block payment-button"   (click)="checkUserDataById()">TEST USER DATA BY ID</button>
    <button class="btn btn-primary btn-block payment-button"   (click)="checkUserDataByEmail()">TEST USER DATA BY EMAIL</button>
    <table id="user-table" class="table">
        <tr>
            <th>User Name</th>
            <th>Device</th>
            <th>Phone Number</th>
            <th>Plan</th>
        </tr>
        <!-- similar to 'for each' -->
        <tr *ngFor="let user of userList">
            <td>{{ user.name }}</td>
            <td>{{ user.device }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.plan }}</td>
            
        </tr>
    </table>
</div>
